<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-4">
                <h5>Nos coordonnees</h5>
                <p><strong>Tel: </strong>xxxxxxxx</p>
                <p><strong>Email: </strong>contact@ecole241.business</p>
                <p><strong>Adresse: </strong>Ancien SOBRAGA, Libreville, Gabon</p>
            </div>
            <div class="col-lg-4">
                <h5>Liens rapides</h5>
                <p><a href="#">Accueil</a></p>
                <p><a href="#">Formations</a></p>
                <p><a href="#">A propos</a></p>
                <p><a href="#">S'Inscrire</a></p>
            </div>
            <div class="col-lg-4">
                <h5>Suivez nous!</h5>
                <a href="#"><img src="assets/css/img/9189029_facebook_icon.png" alt="" width="80px"></a>
                <a href="#"><img src="assets/css/img/9189040_linkedin_icon.png" alt="" width="80px"></a>
            </div>
        </div>
    </div>
</footer>