<section class="section-bg">
    <header style="height:100vh ;">
        <div class="centrer">
            <div class="container position-relative*">
                <div class="navigation">
                    <div class="nav-container glass3">
                      <%- include('navigation') %>
                    </div>
                </div>
            <div class="container-fluid d-flex align-items-center width90*" style="height: 70vh;color:white">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="header-h1-style">Souhaitez-vous travailler à l'International depuis le Gabon?</h1>
                        <p class="header-p-style">Vous pouvez désormais vous construire et transformer vos vies en travaillant pour l’étranger tout en restant au Gabon. C’est simple il suffit de vous former.
                            Inscrivez vous
                            </p>
                        <a href="#" class="btn bouton" onclick="toggle()";>S'inscrire</a>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="assets/css/img/earth.png" alt="" width="500px" class="globe-img">
                        </div>
                        <div>
                            <img src="assets/css/img/business-3d-man-lying-on-stomach-with-laptop.png" alt="" width="500px" class="globe-img2">
                        </div> 
                    </div>
                </div>
            </div>
             
            </div>
            
          </div>
    </header>