<nav class="navbar position-relative">
    <div class="nav-mobile "><a id="nav-toggle" href="#!"><span></span></a></div>
    <div class="brand">
        <a href="#!">Logo</a>
      </div>
    <ul class="nav-list">
      <li>
        <a href="index.html">Accueil</a>
      </li>
      <li>
        <a href="#!">Formations</a>
        <ul class="nav-dropdown">
          <li>
            <a href="Ingenieur_logiciel.html">Ingenieur Logiciel</a>
          </li>
          <li>
            <a href="#!">Ingenieur Cloud</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="Paiement.html">Paiement</a>
      </li>
      <li>
        <a href="A_propos.html">A propos</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
      <li>
        <a href="Connexion.html">Se deconnecter</a>
      </li>
    </ul>
  </nav>