<nav class="navbar position-relative">
    <div class="nav-mobile "><a id="nav-toggle" href="#!"><span></span></a></div>
    <div class="brand">
        <a href="#!">Logo</a>
      </div>
    <ul class="nav-list">
      <li>
        <a href="/">Accueil</a>
      </li>
      <li>
        <a href="#!">Formations</a>
        <ul class="nav-dropdown">
          <li>
            <a href="/Ingenieur_logiciel">Ingenieur Logiciel</a>
          </li>
          <li>
            <a href="/#!">Ingenieur Cloud</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/A_propos">A propos</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
      <li>
        <a href="/Connexion">Se connecter</a>
      </li>
      <li>
        <a href="#" onclick="toggle();">S'inscrire</a>
      </li>
    </ul>
  </nav>