<div class="container mt-5 ">
    <h1 class="text-center fw-bold mb-5 section-title">Nos partenaires</h1>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card glass">
                <div class="card-img" style="background-color: white;border-radius:15px;padding:1rem">
                    <img src="assets/css/img/Ogooue-Labs-1-1024x421.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card glass">
                <div class="card-img" style="background-color: white;border-radius:15px;padding:1rem">
                    <img src="assets/css/img/Qwasar-Logo-07.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card glass">
                <div class="card-img" style="background-color: white;border-radius:15px;padding:1.15rem 1rem">
                    <img src="assets/css/img/jfnlogo.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card glass">
                <div class="card-img" style="background-color: white;border-radius:15px;">
                    <img src="assets/css/img/kisspng-google-logo-googleplex-google-search-5b2cd7fd2d3570.5263877415296655331852-removebg-preview.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>