
  
/* Msg erreur */
.errorMsg, .alert{
  color: rgb(251, 58, 58) !important;
  width: 100% !important;
  font-size: 12px !important;
  padding: 8px 4px !important;
  font-weight: bold !important;
  text-align: center !important;
  border: 1px solid !important;
  background-color: rgb(253, 211, 211) !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}

/* Msg succès */
.successMsg{
  color: rgb(0, 136, 11) !important ;
  width: 100% !important;
  font-size: 12px !important;
  padding: 8px 4px !important;
  font-weight: bold !important;
  text-align: center !important;
  border: 1px solid !important;
  background-color: rgb(170, 255, 179) !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}
