*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.width70{
    *position: relative;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    padding: 2rem 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 3.5rem;
}
.width90{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    padding: 2rem 3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    color: white;
    height: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 9%;
    
}
.width-info{
  width: 90%;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 50px;
  padding: 2rem 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter:blur(5px);
  color: white;
  *height: 80%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 9%;
  
}
.centrer{
    display: flex;
    justify-content: center;
    height: 80vh;
}
nav ul li{
    list-style: none;
    margin: 0 1rem;
    margin-top: .75rem;
}
ul li a{
    text-decoration: none;
    color: white;
}
.padding{
    padding:0 3rem;
    background-image: url("/assets/css/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}
.section-bg{
    *padding:0 3rem;
    background-image: url("/assets/css/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.bouton{
    background-color: deepskyblue;
    border-radius: 50px;
    padding: .5rem 1rem;
    font-weight: bold;
}
.globe-img{
    position: absolute;
    right: 0px;
    animation: rotate 3s infinite backwards alternate;
}
.globe-img4{
  position: absolute;
  right: 0px;
  animation: rotate 3s infinite backwards alternate;
}
.globe-img5{
  position: absolute;
  right:15rem;
  animation: rotate 3s infinite backwards alternate;
}
.globe-img6{
  position: absolute;
  right: 0px;
  animation: rotate 3s infinite backwards alternate;
}
.globe-img7{
  position: absolute;
  top: 12rem;
  right: 8rem;
  animation: rotate 3s infinite backwards alternate;
}

@keyframes rotate{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(10px);
    }
}
.globe-img2{
    position: absolute;
    right:270px;
    animation: rotate 3s infinite backwards alternate;
}
.globe-img3{
  position: absolute;
  right:300px;
  top: 200px;
  animation: rotate 3s infinite backwards alternate;
}
.glass{
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 20px;
    padding: 2rem 3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    color: white;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    margin:1rem 0;
}
.cardglass{
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter:blur(5px);
  color: white;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  margin: 1rem 0;
}
.glass2{
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    padding: 2rem 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    color: white;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
}
.glass3{
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 50px;
  padding: 1rem 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter:blur(5px);
  color: white;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
}
.position{
  position: absolute;
  z-index: 1;
  top: -10%;
}
.section-h2{
  font-size: 40px;
  font-weight: bold;
}
.section2-bg{
    background-image: url("/assets/css/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    background-size: cover;
}
.baniere{
    background: linear-gradient(rgba(103, 152, 243, 0.434),rgba(255, 65, 65, 0.434));
    padding: 4rem 0;
    margin: 4rem 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    color:white;
}
.conteneur{
    width: 100%;
}
.container-form{
    position: relative;
    width: 60%;
}
form {
    background: rgba(255,255,255,0.3);
    width: 100%;
    padding: 3em;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    z-index: 1;
  }
  input,select {
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 1rem;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    width: 60%;
  }
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;

  }
  option{
    color:black
  }
  .drop {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s ease;
  }
    .drop-1 {
      height: 80px;
      width: 80px;
      top: 20px;
      left: -50px;
      z-index:2;
    }
    
    .drop-2 {
      height: 80px;
      width: 80px;
      bottom: -20px;
      right: -20px;
    }
    
    .drop-3 {
      height: 100px;
      width: 100px;
      bottom: 620px;
      right: -50px;
      z-index: 2;
    }
    
    .drop-4 {
      height: 120px;
      width: 120px;
      top: 0px;
      right: -60px;
    }
    
    .drop-5 {
      height: 60px;
      width: 60px;
      bottom: 370px;
      left:-30px;
    }
  
  a,
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  footer{
    background-color: black;
    color: #ffffff;
  }
  footer a{
    text-decoration: none;
    color: skyblue;
  }
  .section-title{
    color: white;
  }
  .display-none{
    display: none;
  }
  .section-text-color{
    color: #fff;
  }
  .section-margin{
    margin: 5rem 0;
  }
  .numero{
    font-size: 100px;
    font-weight: bolder;
    background: url("/assets/css/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
  }
  .numero-cont{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 2rem 3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
  }
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-h1-style{
    font-weight: bold;
  }
  .header-p-style{
    font-size: 20px;
  }
  .baniere-texte{
    font-size: 40px;
  }
  .logo-bg{
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    width: 100px;
    justify-content: center;
    padding: 0 4rem;
  }

  .navigation {
    position: relative;
    top: 2rem;
    z-index: 1;
  }
  
  .brand {
    padding-left: 20px;
    float: left;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    *float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  nav ul li {
    float: left;
    position: relative;
    margin-bottom: .75rem;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: .5rem 1rem;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
    border-radius: 50px;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.845);
    border-radius: 10px;
  }
  
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    z-index: 1;
  }
  
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
    .brand{
      position: absolute;
    }
    .globe-img{
      display: none;
    }
    .globe-img2{
      display: none;
    }
  .nav-dropdown{
    background: none;
  }
    nav {
      width: 100%;
      padding: 0 0 15px;
    }
    nav ul {
      display: none;
      background-color: rgba(0, 0, 0, 0.658);
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 30px;
      width: 250px;
    }
    nav ul li {
      float: none;
      width: fit-content;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
    
  }
  @media screen and (max-width:1530px){
    .globe-img{
      width: 400px;
    }
    .globe-img2{
      width: 400px;
      right:15rem;
    }
    .globe-img4{
      width: 450px;
  }
  .globe-img5{
    width: 250px;
  }
  }
  @media screen and (max-width:1330px){
    .globe-img{
      width: 350px;
      bottom: 8rem;
    }
    .globe-img2{
      width: 350px;
      right:10rem;
      bottom: 19rem;
    }
    .globe-img5{
      width: 230px;
      right: 13rem;
    }
  
  }
  @media screen and (max-width:997px){
    .globe-img{
      display: none;
    }
    .globe-img2{
      display: none;
    }
    .globe-img4{
      display: none;
    }
    .globe-img5{
      display: none;
    }
    .globe-img6{
      display: none;
    }
    .globe-img7{
      display: none;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  .navbar{
    display: flex;
    align-items: center;
    height: 70px;
  }
  .js-tilt-glare{
    border-radius: 20px;
  }

  .trailer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.792);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
    
}
.trailer.active form{
    transform:scale(1);
}
.video-container .close{
    position: absolute;
    top: 100%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.trailer form{
    position: relative;
    width: 80%;
    *max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
}
@media (max-width:991px){
    .trailer video{
        max-width: 90%;
    }
}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}


  
/* Msg erreur */
.errorMsg{
  color: rgb(251, 58, 58) !important;
  width: 100% !important;
  font-size: 12px !important;
  padding: 8px 4px !important;
  font-weight: bold !important;
  text-align: center !important;
  border: 1px solid !important;
  background-color: rgb(253, 211, 211) !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}

/* Msg succès */
.successMsg{
  color: rgb(0, 136, 11) !important ;
  width: 100% !important;
  font-size: 12px !important;
  padding: 8px 4px !important;
  font-weight: bold !important;
  text-align: center !important;
  border: 1px solid !important;
  background-color: rgb(170, 255, 179) !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}
